*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Fraunces', serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
#container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 15px;
}
#qr-code img{
    width: 100%;
    object-fit: cover;
    border-radius: 7%;
    padding: 15px;
}
#desc{
    text-align: center;
}
#desc h1{
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
}
#desc p{
    font-size: 15px;
    width: 80%;
    margin: 15px auto;
    margin-bottom: 40px;
    color: hsl(220, 15%, 55%);
}